body{
    font-family:'Poppins';
  }
  .custom-card {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  .scrollable-card {
    max-height: 650px;
    overflow-y: auto;
  }
  label {
    margin: 0;
  }
  .sousc{
    font-size:1.7rem;
    font-weight: bolder;
  }
  
  .red-button,
  .blue-button {
    display: inline-flex; /* Ensures buttons are aligned correctly */
    align-items: center; /* Center text and icon vertically */
    justify-content: center; /* Center text and icon horizontally */
    padding: 6px 12px; /* Adjust padding for desired size */
    font-size: 14px; /* Consistent font size */
    border-radius: 4px; /* Consistent border radius */
    height: 36px; /* Consistent height */
  }
  
  .red-button {
    color: #fff; /* Text color */
    background-color: #d9534f; /* Background color */
    border-color: #d9534f; /* Border color */
  }
  
  .red-button:hover {
    background-color: #c9302c; /* Darker background color on hover */
    border-color: #c9302c; /* Border color on hover */
  }
  
  .blue-button {
    color: #566787; /* Text color */
    background-color: transparent; /* Transparent background */
    border: 1px solid #566787; /* Border color */
  }
  
  .blue-button:hover {
    color: #fff; /* Text color on hover */
    background-color: #566787; /* Background color on hover */
    border-color: #566787; /* Border color on hover */
  }
  
  .button-container {
    display: flex; /* Use flexbox for alignment */
    gap: 10px; /* Space between buttons */
  }
  
  
  
  
  .custom-select {
    width: 30%; /* Ajustez la largeur selon vos besoins */
  }
  
  
  