<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" />

<nz-layout class="app-layout">
  <nz-content>

    <div class="inner-content2">
      <div class=" textList">
        <button type="button" class="btn btn-primary retour"  (click)="goBack()">
          <i class="fa-regular fa-circle-left"></i> Retour
        </button>
      </div>

      <div class="button-retour">
        <span>LISTES DES DIMENSIONS</span>
        <div class="etapes mt-5-auto">
          <span> 4/5   <i class="fas fa-step-forward text-success-emphasis"></i></span>
        </div>
      </div>
    </div>

    <div class="inner-content3 d-flex flex-column mt-5">
      <div class="collection">
        <span>{{collectionName}}</span> <span>/</span>  <span>{{colorName}}</span>

      </div>

      <div class="grid1 d-flex" *ngIf="!loading">
        <div class="card-container">
          <div class="card" *ngFor="let item of dimensions" (click)="selectArticle(item.art_id,item.dimension)">
           <div class="container">
             <p>{{ item.dimension }}</p>
           </div>
          </div>

        </div>
      </div>
      <c-spinner *ngIf="loading" color="warning" variant="grow"></c-spinner>

      <div class="pagination-container">
        <nz-pagination [nzPageIndex]="1" [nzTotal]=""></nz-pagination>
      </div>
    </div>
  </nz-content>
</nz-layout>
