<link href="https://fonts.cdnfonts.com/css/poppins" rel="stylesheet">

<body>
  
<div class="page__content shadow p-1 mt-3 position-relative text-center">
  <h1 class="sousc">Ma commande</h1>
</div>
<div class="container">
  <div class="header">
    <nz-select nzPlaceHolder="Prix Haut à Bas">
      <nz-option nzValue="high" nzLabel="Prix Haut à Bas"></nz-option>
      <nz-option nzValue="low" nzLabel="Prix Bas à Haut"></nz-option>
    </nz-select>
    <nz-input-group nzSuffixIcon="search">
      <input type="text" nz-input placeholder="Rechercher par Nom" />
    </nz-input-group>
    <nz-button-group>
      <button nz-button nzType="default" nzShape="circle">
        <i nz-icon nzType="bars"></i>
      </button>
      <button nz-button nzType="primary" nzShape="circle">
        <i nz-icon nzType="appstore"></i>
      </button>
    </nz-button-group>
  </div>

  <div class="products-container">
    <div class="products">

      <nz-card nzHoverable class="product-card">
        <img src="/assets/Login/img.png" alt="Produit 2" />
        <h3>Produit 2</h3>
        <p>Description de Produit 2</p>
        <div class="green-card">
          <h2>$150</h2>
        </div>
        <button nz-button nzType="default" nzShape="circle" nzIcon="shopping-cart"></button>
      </nz-card>

      <nz-card nzHoverable class="product-card">
        <img src="/assets/Login/img.png" alt="Produit 2" />
        <h3>Produit 2</h3>
        <p>Description de Produit 2</p>
        <div class="green-card">
          <h2>$150</h2>
        </div>
        <button nz-button nzType="default" nzShape="circle" nzIcon="shopping-cart"></button>
      </nz-card>

      <nz-card nzHoverable class="product-card">
        <img src="/assets/Login/img.png" alt="Produit 2" />
        <h3>Produit 2</h3>
        <p>Description de Produit 2</p>
        <div class="green-card">
          <h2>$150</h2>
        </div>
        <button nz-button nzType="default" nzShape="circle" nzIcon="shopping-cart"></button>
      </nz-card>


      <nz-card nzHoverable class="product-card">
        <img src="/assets/Login/img.png" alt="Produit 2" />
        <h3>Produit 2</h3>
        <p>Description de Produit 2</p>
        <div class="green-card">
          <h2>$150</h2>
        </div>
        <button nz-button nzType="default" nzShape="circle" nzIcon="shopping-cart"></button>
      </nz-card>


      <nz-card nzHoverable class="product-card">
        <img src="/assets/Login/img.png" alt="Produit 2" />
        <h3>Produit 2</h3>
        <p>Description de Produit 2</p>
        <div class="green-card">
          <h2>$150</h2>
        </div>
        <button nz-button nzType="default" nzShape="circle" nzIcon="shopping-cart"></button>
      </nz-card>


      <nz-card nzHoverable class="product-card">
        <img src="/assets/Login/img.png" alt="Produit 2" />
        <h3>Produit 2</h3>
        <p>Description de Produit 2</p>
        <div class="green-card">
          <h2>$150</h2>
        </div>
        <button nz-button nzType="default" nzShape="circle" nzIcon="shopping-cart"></button>
      </nz-card>

      <nz-card nzHoverable class="product-card">
        <img src="/assets/Login/img.png" alt="Produit 2" />
        <h3>Produit 2</h3>
        <p>Description de Produit 2</p>
        <div class="green-card">
          <h2>$150</h2>
        </div>
        <button nz-button nzType="default" nzShape="circle" nzIcon="shopping-cart"></button>
      </nz-card>
    </div>
  </div>

  <div nz-row nzJustify="end" class="mt-5">
    <button nz-button nzType="default" nzSize="large" class="btn-secondary shadow-sm nz-block marge">Continuer les achats</button>
    <button nz-button nzType="primary" nzSize="large" class="btn-primary shadow-sm nz-block">Valider la commande</button>
  </div>
</div>
</body>
