<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<nz-layout class="app-layout">
  <div class="page__content shadow p-3 position-relative">
    <div class="text-center mt-3">
      <h1>Ajouter un utilisateur</h1>
    </div>
  </div>
  <div class="container-fluid background-image custom-container">
    <div class="row justify-content-center mt-sm-5">
      <div class="col-lg-8 col-md-10">
        <div class="card shadow">
          <div class="card-body">
            <form (ngSubmit)="ajouterUtilisateur()">
              <div class="row mb-3">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="usr_Nom" class="form-label">Nom</label>
                    <input type="text" id="usr_Nom" class="form-control p-4" name="usr_Nom" [(ngModel)]="utilisateur.Usr_Nom" required>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="usr_Prenom" class="form-label">Prénom</label>
                    <input type="text" id="usr_Prenom" class="form-control p-4" name="usr_Prenom" [(ngModel)]="utilisateur.Usr_Prenom" required>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary btn-margin">Ajouter</button>
                <button type="button" class="btn btn-primary" routerLink="/userList" >Annuler</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</nz-layout>
