<div class="flex flex-column items-center justify-center h-full">
    <!-- <div class="w-full "> -->
        <div class="mt-8 flex flex-column items-center shadow-md bg-white transform hover:scale-105 transition-transform duration-500
        rounded-lg md:w-2/5 pb-4 border-l-8 border-l-red-500" style="position: relative;">

            <div style="z-index: 100; width: 100px; position: absolute; left: -34px; top: -92px;">
                <img src="assets/Login/Oublier2.png" alt="Oublier ?">
            </div>
            <img src="assets/Login/unnamed.gif" alt="logo" style="width: 90px;">
            <div class="mt-16 flex flex-column items-center text-center">
                <h1>Mot de passe oublier ?</h1>
                <p class="mt-4" style="width: 400px;">
                    Saisissez votre adresse
                    électronique et nous vous enverrons les instructions pour
                    réinitialiser votre mot de passe.
                </p>
                <div style="width: 100%; padding: 4px;">
                    <nz-input-group nzAddOnBefore="e-mail">
                        <input type="text" nz-input [(ngModel)]="email" />
                    </nz-input-group>
                </div>
                <button [disabled]="spinner" class="btn btn-danger btn-lg w-100 mt-10" style="padding: 1rem;" (click)="envoyer()">
                    @if(!spinner){
                        <span>Envoyer</span>
                      }@else{
                        <span class="spinner-border"></span>
                      }
                </button>
                <span class="spana" style="font-weight: bold; color: brown; margin-top: 90px; cursor: pointer; padding: 3px;" routerLink="/login">
                    Retour à la page de connection
                </span>
            </div>
        </div>
    <!-- </div> -->
</div>