input {
    padding: 20px;
    border-radius: 5px; 
    font-size: 1.2rem;
    border: 1px solid #8b4513; 
    color: #5a4033;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
  }
  
  input:hover {
    border-color: #a0522d; 
    box-shadow: 0 0 10px rgba(165, 42, 42, 0.4);
  }
  
  input:focus {
    border-color: #a0522d; 
    box-shadow: 0 0 10px rgba(199, 71, 71, 0.8); 
  }

  span:hover{
    text-decoration: underline;
  }
  .spana:active{
    background-color: rgba(216, 147, 147, 0.63);
  }