<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap">

<nz-layout class="app-layout">

  <nz-content>


    <div class="inner-content3 d-flex flex-column mt-5">
      <div class="button-container">

        <button type="button" class="btn btn-primary btn-lg bouton">
          <img src="assets/informations/adresse-du-domicile.png" alt="Image 3" class="img-icon"> <span>Mes adressses de livraison</span>
        </button>

        <button type="button" class="btn btn-primary btn-lg bouton">
          <img src="assets/informations/email.png" alt="Image 3" class="img-icon"> <span>Mes contacts</span>
        </button>
      </div>
    </div>

  </nz-content>


</nz-layout>

