
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://unpkg.com/ng-zorro-antd/ng-zorro-antd.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/ng-zorro-antd/ng-zorro-antd.min.js"></script>
  <link href="https://fonts.cdnfonts.com/css/poppins" rel="stylesheet">

<body>
  <nz-layout class="app-layout">
    <div class="page__content shadow p-2 position-relative">
      <div class="text-center mt-3">
        <h1>Ajouter une adresse</h1>
      </div>
    </div>
    <div class="container-fluid background-image custom-container">
      <div class="row justify-content-center mt-sm-5">
        <div class="col-lg-8 col-md-10">
         <app-add-adress-form></app-add-adress-form>
        </div>
      </div>
    </div>
  </nz-layout>
  
</body>

