<div class="upload-section mt-4">
  <div class="card h-110 d-flex justify-content-center " style="height: 50px;">
    <label for="upload">Ajouter une photo ou une vidéo</label>
  </div>

  <div class="d-flex">
    <img src="assets/commandes/Rectangle.png" alt="Uploaded Image" class="img-thumbnail mr-2" style="width: 100px; height: 100px;">
    <div class="upload-box d-flex align-items-center justify-content-center border" style="width: 100px; height: 100px;">
      <input type="file" id="upload" class="d-none">

      <label for="upload" class="text-center"></label>
        <img src="assets/commandes/camera.png" alt="Upload Icon" style="width: 75px; height: 60px;">

    </div>
  </div>
</div>
