<link href="https://fonts.cdnfonts.com/css/poppins" rel="stylesheet">

<nz-layout class="app-layout">
  <div class="page__content shadow p-1 position-relative">
    <div class="text-center mt-3">
      <h1 class="sousc">Fournisseurs</h1>
    </div>
  </div>

  <div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper" style="overflow-y: auto;">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-8">

              <nz-input-group [nzSuffix]="suffixIconSearch">
                <input type="text" nz-input placeholder="Rechercher..." [(ngModel)]="searchValue" (ngModelChange)="onSearch()" />
              </nz-input-group>
              <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
              </ng-template>
            </div>

            <div class="col-sm-4 text-right">

              <button nz-button nzType="default" class="blue-button" routerLink="/addSupplier">
                <i nz-icon nzType="plus"></i> Ajouter un fournisseur
              </button>
            </div>
          </div>
        </div>


        <nz-table #basicTable [nzData]="filteredFournisseurs" [nzFrontPagination]="false">
          <thead>
            <tr>
              <th>Nom du Fournisseur</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fournisseur of basicTable.data">
              <td>{{ fournisseur.fou_Designation }}</td>
              <td>
                <div class="button-container">

                      <button nz-button nzType="default" class="blue-button" [routerLink]="['/Edit', fournisseur.fou_Id]">
                        <i nz-icon nzType="edit"></i> Modifier
                      </button>
                      <button nz-button nzType="default"  class="red-button" (click)="supprimerFournisseur(fournisseur.fou_Id)">
                        <i nz-icon nzType="delete"></i> Supprimer
                      </button>
                </div>      

              </td>
            </tr>
          </tbody>
        </nz-table>

        <nz-pagination [nzPageSize]="5" [nzTotal]="filteredFournisseurs.length" [(nzPageIndex)]="pageIndex"></nz-pagination>
      </div>
    </div>
  </div>
</nz-layout>
