body{
  font-family: 'Poppins';
}
.inner-content3 {
  margin: auto;
  padding: 24px;
  background: rgba(255, 255, 255, 0.8);
  height: 62%;
  width: 55%;
  box-shadow: 3px 6px 6px rgba(0, 21, 41, .35);
  border-radius: 13px;
  display: flex; 
}

.button-container {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  gap: 50px;
}

.button-container button {
  min-height: 110px;
  width: 100%; 
  background-color: #3d5a80;
  font-family: 'Poppins';
  font-weight: bolder;
  border: none;
  box-shadow: 3px 6px 6px rgba(0, 21, 41, .35);
}

.button-container .btn .img-icon {
  width: 35%;
  margin-right: 10px;
}

.button-container button {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-container button:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.1);
}
