<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap">
<link href="https://fonts.cdnfonts.com/css/poppins" rel="stylesheet">

<body>
    
  <nz-layout class="app-layout">

    <nz-content>

      <div class="inner-content3 d-flex flex-column mt-5">
        <div class="button-container">

          <button type="button" class="btn btn-primary btn-lg bouton" style="display: flex;justify-content: center; align-items: center;">
            <img src="assets/new/idea-unscreen.gif" alt="Image 3" class="img-icon"> <span>Aide</span>
          </button>

          <button type="button" class="btn btn-primary btn-lg bouton" style="display: flex; justify-content: center; align-items: center;">
            <img src="assets/new/info-unscreen.gif" alt="Image 3" class="img-icon"> <span>Informations légales</span>
          </button>
        </div>
      </div>

    </nz-content>

  </nz-layout>

</body>
