
  @media print {
    zzz
    .table-container {
      max-height: none !important;
      overflow: visible !important;
    }
    nz-card {
      box-shadow: none;
      border: none;
    }
    nz-modal {
      width: 100%;
      box-shadow: none;
      padding: 0;
    }
    button{
      display: none;
    }
  }



  